@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --very-dark-greyish-blue: hsl(217, 19%, 35%);
  --greyish-blue: hsl(212, 23%, 69%);
  --light-greyish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--light-greyish-blue);
}

.main-container {
  margin: 4em auto;
  margin-bottom: 0;
  width: 90%;
  max-width: 400px;
  max-height: 40vh;
}

.dresser-img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.description {
  padding: 2.8em 3em 2em 3em;
  background-color: var(--white);
}

.main-container h1 {
  font-size: 1.3rem;
  color: var(--very-dark-greyish-blue);
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 1em;
  letter-spacing: 0.4px;
  line-height: 1.9rem;
}

.main-container p {
  color: var(--greyish-blue);
  margin-bottom: 1em;
  line-height: 1.7;
  letter-spacing: 0.25px;
  font-size: 1.1rem;
}

.contact-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0 3em 2em 3em;
  border-radius: 0 0 12px 12px;
}

.author-wrapper > div > p {
  margin: 0;
}

.author-wrapper {
  display: flex;
}

.author-img {
  border-radius: 50%;
  width: 4.5em;
  height: 4.5em;
}

.author-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0.9em;
  justify-content: center;
}

.author-wrapper .author-text-wrapper .author-name {
  color: var(--very-dark-greyish-blue);
  font-weight: 700;
  font-size: 1rem;
}

.author-wrapper .author-text-wrapper .author-date {
  font-size: 0.9rem;
}

.btn-share {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: none;
  background-color: var(--light-greyish-blue);
  color: var(--greyish-blue);
  cursor: pointer;
  padding: 0.5em;
}

.share-overlay {
  background-color: var(--very-dark-greyish-blue);
  border-radius: 0 0 12px 12px;
}

.social-icons {
  display: flex;
  padding: 2em 3em;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 1em;
}

.share-overlay .share-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.share-overlay .social-icons .btn-share {
  color: var(--white);
  margin-left: auto;
  background-color: var(--greyish-blue);
}

/* MEDIA QUERY */

@media (max-width: 320px) {
  .author-wrapper .author-text-wrapper .author-name {
    font-size: 0.8rem;
  }

  .author-wrapper .author-text-wrapper .author-date {
    font-size: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .main-container {
    display: flex;
    max-width: 1000px;
  }

  .dresser-img {
    border-radius: 12px 0px 0 12px;
    position: relative;
    left: 0;
    margin-right: -10%;
    object-fit: cover;
    width: 100%;
  }

  .main-container > .dresser-img,
  .main-container > .sub-container {
    flex: 1;
  }

  .main-container h1 {
    font-size: 1.8rem;
    letter-spacing: 0.25px;
    line-height: 2.1rem;
  }

  .main-container p {
    font-size: 1.2rem;
    color: var(--greyish-blue);
    letter-spacing: 0.25px;
    line-height: 1.8rem;
  }

  .description {
    padding: 0;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    border-radius: 0px 12px 12px 0;
    padding: 3em;
    z-index: 1;
  }

  .contact-section {
    padding: 0;
  }
}
