@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --very-dark-greyish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --greyish-blue: hsl(212, 23%, 69%);
  --light-greyish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

html {
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--light-greyish-blue);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

.dresser-img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.description {
  padding: 2.8em 3em 2em 3em;
  background-color: var(--white);
}

.title {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--very-dark-greyish-blue);
  letter-spacing: 0.4px;
  line-height: 1.9rem;
  margin-bottom: 1em;
}

.text {
  color: var(--desaturated-dark-blue);
  margin-bottom: 1em;
  line-height: 1.7;
  letter-spacing: 0.25px;
  font-size: 1.1rem;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  padding: 0 3em 1.5em 3em;
  border-radius: 0 0 12px 12px;
  position: relative;
}

.author-wrapper {
  display: flex;
}

.author-img {
  border-radius: 50%;
  width: 4.5em;
  height: 4.5em;
}

.author-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0.9em;
  justify-content: center;
}

.author-name {
  color: var(--very-dark-greyish-blue);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.7em;
}

.author-date {
  font-size: 0.9rem;
  color: var(--desaturated-dark-blue);
}

.share-btn,
.back-btn {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: none;
  background-color: var(--light-greyish-blue);
  color: var(--greyish-blue);
  cursor: pointer;
  padding: 0.3em;
  margin-left: auto;
}

.overlay {
  display: none;
  position: absolute;
  background-color: var(--very-dark-greyish-blue);
  border-radius: 0 0 12px 12px;
  top: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 10;
  max-width: 400px;
  width: 100%;
  padding: 0.7em 0 0.7em;
}

.overlay.active {
  display: block;
}

.social-icons {
  display: flex;
  padding: 2em 3em;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 1em;
}

.overlay .overlay-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  color: var(--greyish-blue);
}

/* MEDIA QUERIES */

@media (max-width: 320px) {
  .author-name {
    font-size: 0.8rem;
  }

  .author-date {
    font-size: 0.7rem;
  }

  .social-icons {
    padding: 2em;
  }

  .overlay .overlay-text {
    font-size: 0.9rem;
  }

  .overlay {
    padding: 0.7em 1em;
  }

  .icon {
    margin-left: 0.7em;
  }
}

@media (min-width: 1024px) {
  .main-container {
    flex-direction: row;
    max-width: 1200px;
    align-items: stretch;
    justify-content: center;
  }

  .dresser-img {
    border-radius: 12px 0px 0 12px;
    object-fit: cover;
    max-width: 400px;
    position: relative;
    left: 0;
    margin-right: -10%;
  }

  .title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0.5em 0;
  }

  .text {
    font-size: 1.1rem;
    color: var(--greyish-blue);
    line-height: 2rem;
  }

  .description {
    padding: 0;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 0px 12px 12px 0;
    padding: 1.8em 2.3em;
    z-index: 1;
    max-width: 450px;
  }

  .contact-section {
    padding: 0.5em 0 0 0;
  }

  .overlay {
    border-radius: 12px;
    top: calc(100% - 115px);
    top: calc(100% - 110px);
    left: 97%;
    transform: translate(-50%);
    max-width: 230px;
    padding: 0.5em 2em;
    z-index: 10;
  }

  .overlay::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;

    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--very-dark-greyish-blue) transparent transparent
      transparent;
  }

  .social-icons {
    padding: 0.3em;
  }

  .back-btn-hidden {
    display: none;
  }
}
